# AWS
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_DEFAULT_REGION=eu-central-1
S3_BUCKET_NAME=your_bucket_name_here

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=streamcart
POSTGRES_USER=streamcart_user
POSTGRES_PASSWORD=your_password_here
