# Environment
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Data files
data/raw/*
data/processed/*
*.csv
*.parquet
*.json

# Airflow
orchestration/logs/
orchestration/plugins/__pycache__/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
